---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from '../layouts/Layout.astro';

// Component Imports
import Icon from '../components/Icon.astro';
---

<Layout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
	
		</div>
	</div>
</Layout>
