---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from '../layouts/Layout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
---

<Layout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hi!, I'm Angela Jasso"
					tagline="I am a Full Stack Blockchain Developer"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
					</div>
				</Hero>

				<img
					alt=""
					width="480"
					height="620"
					src="/src/assets/descarga.png"
				/>
			</header>
		</div>
	</div>
</Layout>
