---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
        <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Specialized in technologies such as JavaScript, Python, React, Node.js, and SQL/NoSQL databases, with knowledge of REST APIs, authentication, and cloud deployment.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="block" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Blockchain</h2>
		<p>Experience in developing smart contracts and decentralized applications (DApps). Specialized in Solidity, Rust, and Web3.js, with knowledge of decentralized storage (IPFS, Arweave).</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="crypto" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cryptography</h2>
		<p>Experience in cryptography applied to blockchain, with knowledge of digital signatures, hashing algorithms, Zero-Knowledge Proofs, and asymmetric encryption.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		fontimport Skills from '../components/Skills.astro';-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>